<h1><%= @place["name"] %></h1>


<ul>
  <% for post in @posts %>
    <li><%= post["title"] %>, <%= post["description"] %>, <%= post["date"] %></li>
  <% end %>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Place</a>
</p>

<p><a href="/companies">Back to All Places</a></p>
  
